.index {
  margin-top: 50px  !important;
  h1 {
      margin-bottom: 15px;
  }
}

.cards-cat {
  margin: 20px 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.cards-cat-components {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-cat-photo > img {
  background: white;
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.card-cat-infos {
  padding: 16px;
  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
  }
}


// objet plus petit que large device (lg)
@media(max-width: 992px) {
  .cards-cat {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-gap: 15px;
        width: 100%;
  }
}
// objet plus petit que small device (xs)
@media(max-width: 768px) {
  .cards-cat {
        display: grid;
        grid-template-columns: 1fr ;
        grid-row-gap: 15px;
        width: 100%;
        justify-items: center;
  }
  .cards-cat-components {
    width: 80vh;
  }
  .index h1 {
    text-align: center;
  }
}
