#new_rental {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 15px;
  margin-left: 30px;
  width: 100%;
  justify-self: end;
}

.btn-rental {
  width: 100%;
}

@media(max-width: 992px) {
  #new_rental {
    justify-self: start;
    width: 90%;
  }
}
