
.form-container {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.form-card {
  padding: 20px;
  background: white;
  width: 420px;
  border-radius: 10px;
}

.simple_form {
  div.input {
    margin-bottom: 10px;
    clear: both;
    /* Required for Webkit, but not for Gecko */
  }
  label {
    width: 100px;
    margin: 2px 10px;
  }
}

.form-sign-up {
  justify-content: center  !important;
}

.form-sign-up-card {
  width: 500px !important;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.form-control-label, .form-check-labe {
  width: 250px !important;
}
