<div class="mains-container">
  <h1>Les derniers chats</h1>
  <div class="cards-cat">
    <% @cats.each do |cat| %>
      <div class="card-cat-photo">
        <%= cl_image_tag cat.photo, height: 300, width: 400, crop: :fill %>
        <div class="card-cat-infos">
          <h2><%= cat.name %></h2>
          <p><%= cat.address %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
